<table class="user-select-table">
	<tbody>
		<tr>
			<td>
				<select name="user-select" class="user-select form-control">
					<option>--- Select or Create New User ---</option>
					<option value="create-new-user">CREATE NEW USER</option>
				</select>
			</td>
			<td>
				<div class="btn-group">
				  <button type="button" class="btn edit-btn"><span class="glyphicon glyphicon-pencil"></span></button>
				  <button type="button" class="btn cancel-btn"><span class="glyphicon glyphicon-remove"></span></button>
				</div>
			</td>
		</tr>
	</tbody>
</table>