<!-- COMPUTER -->
<li>
	<button type="button" class="close">
	  <span class="glyphicon glyphicon-remove"></span>
	  <span class="sr-only">Delete</span>
	</button>
	<div class="computer-type">
		<img src="/images/desktop.png" alt="Desktop Computer" class="img-responsive">
		<select class="form-control form-factor">
		  <option value="desktop">Desktop</option>
		  <option value="laptop">Laptop</option>
		</select>
	</div>
	<fieldset>
		<h3>Who uses this computer?</h3>
		<ul class="user-list"></ul>
		<button class="add-user btn btn-default">Add User</button>
	  <hr>
	  <div class="left">
			<div class="gb-data-computer">
		    <div class="input-group">
  	      <span class="input-group-btn">
  	        <button class="btn btn-default minus" type="button"><span class="glyphicon glyphicon-minus"></span></button>
  	      </span>
  	      <input id="gb-data-computer-1" type="text" class="form-control" maxlength="3" readonly value="0">    	      
  	      <span class="input-group-btn">
            <button class="btn btn-default plus" type="button"><span class="glyphicon glyphicon-plus"></span></button>
          </span>
  	    </div><!-- /input-group -->
  	    <label for="gb-data-computer-1" class="control-label"><small>GB</small> OF FILES</label>
			</div>
	  </div>
	  <div class="right">
	  	<div class="invincibility checkbox">
	  	  <label>
	  	    <input type="checkbox" value="invincibility">
	  	    Invincibility
	  	  </label>
	  	</div>
	  	<div class="web-filtering checkbox">
	  	  <label>
	  	    <input type="checkbox" value="web-filtering">
	  	    Web Content Filtering
	  	  </label>
	  	</div>
	  </div>				  
	</fieldset>
</li>