<form novalidate class="create-user">
  <div class="form-group">
    <input type="hidden" name="id" value="">
    <div class="col-sm-6">
      <label class="sr-only">First Name</label>
      <input placeholder="First Name" class="form-control" name="first" type="text" required>
    </div>
    <div class="col-sm-6">
      <label class="sr-only">Last Name</label>
      <input placeholder="Last Name" class="form-control" name="last" type="text" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <label class="sr-only">Email Address</label>
      <div class="inner-addon left-addon">
        <input placeholder="Email Address" class="form-control" name="email" type="email" required>
        <i class="fa fa-envelope"></i>
      </div>                            
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <label class="sr-only">Phone Number</label>
      <div class="inner-addon left-addon">                              
        <input placeholder="Phone Number" class="phone-input form-control" name="phone" type="text" pattern="\d*" required>
        <i class="fa fa-phone"></i>
      </div>                            
    </div>
  </div>
  <table class="button-area-table">
    <tr>
      <td><div class="alert alert-danger" role="alert"><span class="fa fa-ban"></span> Please fill in all fields</div></td>
      <td>
        <div class="button-area">
          <button class="btn cancel-btn btn-default">Cancel</button>
          <button type="submit" class="btn create-btn btn-primary">Save</button>
        </div>
      </td>
    </tr>
  </table>
</form>