footer
  section
    .col-xs-12
      .row
        .left.col-lg-3.col-md-4.col-sm-5
          .row
            .col-xs-12
              ul.big-text
                li
                  a(href='/terms-of-service')
                    span.slabtext Terms of Service
                li
                  a(href='/privacy-statement')
                    span.slabtext Privacy Statement
                li
                  a(href='/our-story')
                    span.slabtext Learn about us
                li
                  a(href='/onsite-cost-calculator')
                    span.slabtext On-Site Cost Calculator
                li
                  a(href='/explanation-of-our-services')
                    span.slabtext Explanation of Our Services
                li
                  a(href='/sign-up')
                    span.slabtext Sign Up
          .row
            .col-xs-12
              // Angie's List, Kudzu, Yelp
        .center.col-lg-6.col-md-4.col-sm-2
        .right.col-lg-3.col-md-4.col-sm-5
          .row.social-row
            .col-xs-4
              // Facebook Link
              a.facebook-link(alt='Atlanta Computerman on Facebook', href='https://www.facebook.com/AtlantaComputerman', target='_blank')
                span.social-icon.facebook
            .col-xs-4
              // Twitter Link
              a.twitter-link(alt='Atlanta Computerman on Twitter', href='https://twitter.com/ComputermanATL', target='_blank')
                span.social-icon.twitter
            .col-xs-4
              // Google+ Link
              a.google-link(alt='Atlanta Computerman on Google+', href='https://www.google.com/+Atlantacomputerman7705746200', target='_blank')
                span.social-icon.google-plus
          .row
            .col-xs-12
              a.twitter-timeline(href='https://twitter.com/ComputermanATL', data-widget-id='526728566038204417') Tweets by @ComputermanATL
              script#twitter-wjs(src='http://platform.twitter.com/widgets.js')
              script
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    .row
      .col-xs-12
        .copyright Copyright © 2014, Atlanta Computerman