    <!-- Quick Contact Modal -->
    <% include ../partials/quick-contact-modal %>

    <!-- Spinner -->
    <div class="spinner" style="display:none;"></div>    

    <!-- Javascript Include -->
    <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/slabText/js/jquery.slabtext.min.js"></script>
    <script type="text/javascript" src="/vendor/skrollr/dist/skrollr.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery.payment/lib/jquery.payment.js"></script>
    
    <!-- Main JS FILE -->
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>