<header data-0="background-position:0px 0px;" data-500="background-position:0px 100px;">
	<section>
		<!-- Title Area -->
		<div class="col-sm-7 col-md-8 col-lg-9">
			<h1>
			  <a href="/">
			    <img src="/images/atlanta.png" alt="Atlanta" width="596" height="126" data-0="top:15px;" data-500="top:200px;">
			    <img src="/images/computerman.png" alt="Computerman" width="596" height="129" data-0="top:100px;" data-500="top:150px;">
			    <span>Atlanta Computerman</span>
			  </a>
			</h1>
		</div>
		<!-- Quick Contact -->
		<div class="col-lg-3 col-md-4 col-sm-5 hidden-xs">
			<div class="quick-contact-header" data-0="top:0px;" data-500="top:150px;">
				<%= include quick-contact-box %>
			</div>			
		</div>
	</section>
	<section>
		<div class="col-xs-12">
			<h2>Your Family’s Friendly Neighborhood I.T. & Computer Support Guardian</h2>
		</div>
	</section>	
</header>

<nav class="navbar navbar-default" role="navigation" data-0="position:absolute;" data-250="position:fixed;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/images/logo.png" width="32px" height="32px" alt="Atlanta Computerman"></a>
      <p class="small-phone-num navbar-text visible-xs"><a href="tel:7705746200">(770) 574-6200</a></p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li <% if (menuItem == 'home') {%>class="active"<%}%>><a href="/">Home</a></li>
        
        <li <% if (menuItem == 'services') {%>class="active"<%}%>><a href="/services/">Services</a></li>
        <p class="navbar-text hidden-sm glyphicon glyphicon-chevron-right"></p>

        <li <% if (menuItem == 'services-families') {%>class="active"<%}%>><a href="/services/families/">Families</a></li>
        <li <% if (menuItem == 'services-students') {%>class="active"<%}%>><a href="/services/students/">Students</a></li>
        <li <% if (menuItem == 'services-seniors') {%>class="active"<%}%>><a href="/services/seniors/">Seniors</a></li>
      </ul>
      
      <!-- NAVBAR RIGHT -->
      <ul class="nav navbar-nav navbar-right">
        <li <% if (menuItem == 'contact-us') {%>class="active"<%}%>><a href="/contact-us/">Contact Us</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="main">
<main>