div.quick-support-contact-box
  h1 Quick Support Contact
  ul
    li
      a(href='tel:+17705746200')
        span.fa.fa-phone
        span.phone-number (770) 574-6200
    li
      a(href='mailto:support@atlantacomputerman.com')
        span.fa.fa-envelope
        span.email
          | support
          small @atlantacomputerman.com
    li
      a(href='/contact-us')
        span.fa.fa-clock-o
        span.hours
          | Mon - Fri / 9am - 6pm
          small 24x7 Support Coming Soon!