<div class="quick-support-contact-box">
  <h1>Quick Support Contact</h1>
  <ul>
    <li><a href="tel:+17705746200"><span class="glyphicon glyphicon-earphone"></span><span class="phone-number">(770) 574-6200</span></a></li>
    <li><a href="mailto:support@atlantacomputerman.com"><span class="glyphicon glyphicon-envelope"></span><span class="email">support<small>@atlantacomputerman.com</small></span></a></li>
    <li><a href="/contact-us"><span class="glyphicon glyphicon-time"></span><span class="hours">Mon - Fri / 9am - 6pm<small>24x7 Support Coming Soon!</small></span></a></li>
  </ul>
</div>