.contact-box
	h1.title.bigtext
		span.slabtext Contact Us!
	.content
		include _contact-form
	.pow
		img(src="/images/pow.png")
		h3.deal.bigtext You can also call us at 
			a(href="tel:7705746200") (770) 574-6200