include _price-terms

mixin product-box(title, price, period, unit, link, features, deal)
	.product-box
		h1.title.bigtext
			span.slabtext= title
		.content
			.left
				h2.features.bigtext= features
			.right
				+price-terms(price, period, unit)

			a.button(href="#{link}") Learn More
				i.fa.fa-chevron-right
		.pow
			img(src="/images/pow.png")
			h3.deal= deal