<% include /partials/head %>
<% include /partials/header %>
<!---------------------------------------------------------------------------------------------------------------->

<section class="contact">
	<div class="col-sm-5">
		<img src="/images/phone-woman.png" alt="" class="img-responsive">
		<ul class="big-text">
	    <li><a href="tel:+17705746200"><span class="slabtext"><span class="glyphicon glyphicon-earphone"></span><span class="phone-number">(770) 574-6200</span></span></a></li>
	    <li><a href="mailto:support@atlantacomputerman.com"><span class="slabtext"><span class="glyphicon glyphicon-envelope"></span><span class="email">support<small>@atlantacomputerman.com</small></span></span></a></li>
	    <li><a href="/services"><span class="slabtext"><span class="glyphicon glyphicon-time"></span><span class="hours">Mon - Fri / 9am - 6pm<small>24x7 Support Coming Soon!</small></span></span></a></li>
	  </ul>	  
	</div>
	<div class="col-sm-7">
			<%= include /partials/contact-box %>			
	</div>
</section>

<!---------------------------------------------------------------------------------------------------------------->
<% include /partials/footer %>
<% include /partials/foot %>