| <% include /partials/head %>
| <% include /partials/header %>
// ------------------------------------------------------------------------------------------------------------
h1.page-title
  | Explanation of Our Services
  small Rule #1 - Fix your computer... whatever it takes!
section.explanation-of-our-services
// ------------------------------------------------------------------------------------------------------------
| <% include /partials/footer %>
| <% include /partials/foot %>