<% include /partials/head %>
<% include /partials/header %>
<!---------------------------------------------------------------------------------------------------------------->

<section>
  <div class="col-sm-5">                
    <img class="img-responsive" src="/images/karl.png" alt="Karl Hepler, Owner">
    <div class="owner-name hidden-xs">Karl Hepler<small>Owner</small></div>
  </div>
  <div class="col-sm-7">
    <div class="row">
      <div class="col-xs-12">
        <div class="bubble">
        	<div class="row">
        		<div class="col-lg-8 col-md-7 col-sm-6">
        			<p class="big-text">
        				<span class="slabtext">You'll never have to pay</span>
        				<span class="slabtext">for computer repair</span>
        				<span class="slabtext">or tech support again!</span>
        			</p>
        		</div>
        		<div class="col-lg-4 col-md-5 col-sm-6">
        			<div class="facebook-holder">
        				<!-- Facebook Link -->
        				<a class="facebook-link" alt="Atlanta Computerman on Facebook" href="https://www.facebook.com/AtlantaComputerman" target="_blank"><span class="social-icon facebook"></span></a>
        				<!-- Facebook Like Box -->
        				<fb:like class="facebook-likes" href="https://www.facebook.com/AtlantaComputerman" width="50" layout="box_count" action="like" show_faces="false" share="true"></fb:like>
        			</div>
        		</div>
      		</div>
      		<div class="row tagline-box">
            <div class="col-xs-8">
              <p><small>We're a local Atlanta business dedicated to bringing enterprise-level computer support to you and your family. We provide unlimited support, repair, and maintenance for your computer, software, and data. So sit back and and relax - we've got you and your family covered!</small></p>
            </div>
            <div class="col-xs-4">
              <div class="button-area big-text">
                <a href="/explanation-of-our-services" class="learn-more"><span class="slabtext">Learn more <i class="glyphicon glyphicon-chevron-right"></i></span></a>
              </div>
            </div>
      		</div>
          <div class="pointer">
          </div>
          <div class="pointerBorder">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        
        <!-- START PRODUCT BOX -->
        <div class="product-box">
          <div class="title big-text"><span class="slabtext">PC Invincibility</span></div>
          <div class="content">
            <div class="left">
              <div class="features big-text">
                <span class="slabtext">100% Guaranteed</span>
                <span class="slabtext">Impossible</span>
                <span class="slabtext">to get viruses</span>
                <span class="slabtext"><span class="glyphicon glyphicon-plus"></span> Remote Support</span>
              </div>
            </div>
            <div class="right">
              <div class="price-area">
                <div class="price big-text">
                  <span class="slabtext">$19</span>
                </div>
                <div class="terms-box">
                  <div class="slash-area big-text">
                    <span class="slabtext slash">/</span>
                  </div>
                  <div class="terms-area big-text">
                    <span class="slabtext terms">month</span>
                    <span class="slabtext terms">computer</span>
                  </div>
                </div>
              </div>
              <div class="button-area big-text">
                <a href="/services" class="learn-more"><span class="slabtext">Learn more <i class="glyphicon glyphicon-chevron-right"></i></span></a>
              </div>
            </div>
          </div>
          <div class="pow">
            <img src="/images/pow.png" alt="">
            <div class="deal big-text">
              <span class="slabtext">No need for</span>
              <span class="slabtext">anti-virus!</span>
              <hr>
              <span class="slabtext">Your computer</span>
              <span class="slabtext">will be invincible!</span>
            </div>
          </div>
        </div>
        <!-- END PRODUCT BOX -->
      </div>
    </div>
  </div>
</section>
<section>
  <div class="col-sm-7">
    <!-- START PRODUCT BOX -->
      <div class="product-box">
        <div class="title big-text"><span class="slabtext">PC Guardian</span></div>
        <div class="content">
          <div class="left">
            <div class="features big-text">
              <span class="slabtext">Unlimited</span>
              <span class="slabtext">Remote</span>
              <span class="slabtext">Support</span>
              <span class="slabtext"><span class="amp">&</span> Anti-Virus</span>
            </div>
          </div>
          <div class="right">
            <div class="price-area">
              <div class="price big-text">
                <span class="slabtext">$29</span>
              </div>
              <div class="terms-box">
                <div class="slash-area big-text">
                  <span class="slabtext slash">/</span>
                </div>
                <div class="terms-area big-text">
                  <span class="slabtext terms">month</span>
                  <span class="slabtext terms">computer</span>
                </div>
              </div>
            </div>
            <div class="button-area big-text">
              <a href="/services" class="learn-more"><span class="slabtext">Learn more <i class="glyphicon glyphicon-chevron-right"></i></span></a>
            </div>
          </div>
        </div>
        <div class="pow">
          <img src="/images/pow.png" alt="">
          <div class="deal big-text">
            <span class="slabtext">10% discount for</span>
            <span class="slabtext">students,</span>
            <span class="slabtext">seniors,</span>
            <span class="slabtext"><span class="amp">&</span> veterans!</span>
          </div>
        </div>
      </div>
      <!-- END PRODUCT BOX -->
  </div>
  <div class="col-sm-5 hidden-xs">
    <div class="left-arrow"></div>
  </div>
</section>
<section>
  <div class="col-sm-5 hidden-xs">
    <div class="right-arrow"></div>
  </div>
  <div class="col-sm-7">
    <!-- START PRODUCT BOX -->
    <div class="product-box">
      <div class="title big-text"><span class="slabtext">Family Guardian</span></div>
      <div class="content">
        <div class="left">
          <div class="features big-text">
            <span class="slabtext">Unlimited</span>
            <span class="slabtext">Remote Support</span>
            <span class="slabtext">Anti-Virus</span>
            <span class="slabtext"><span class="amp">&</span> Web Filtering</span>
          </div>
        </div>
        <div class="right">
          <div class="price-area">
            <div class="price big-text">
              <span class="slabtext">$99</span>
            </div>
            <div class="terms-box">
              <div class="slash-area big-text">
                <span class="slabtext slash">/</span>
              </div>
              <div class="terms-area big-text">
                <span class="slabtext terms">month</span>
                <span class="slabtext terms">4 computers</span>
              </div>
            </div>
          </div>
          <div class="button-area big-text">
            <a href="/services/families" class="learn-more"><span class="slabtext">Learn more <i class="glyphicon glyphicon-chevron-right"></i></span></a>
          </div>
        </div>
      </div>
      <div class="pow">
        <img src="/images/pow.png" alt="">
        <div class="deal big-text">
          <span class="slabtext">The best value</span>
          <span class="slabtext">for families!</span>
          <hr>
          <span class="slabtext">support up to</span>
          <span class="slabtext">4 computers!</span>
        </div>
      </div>
    </div>
    <!-- END PRODUCT BOX -->
  </div>
</section>
<section>  
  <div class="col-sm-7">
    <%= include /partials/contact-box %>
  </div>
  <div class="col-sm-5 hidden-xs">
    <div class="left-arrow"></div>
  </div>
</section>

<!---------------------------------------------------------------------------------------------------------------->
<% include /partials/footer %>
<% include /partials/foot %>