include /partials/head
include /partials/header
// ------------------------------------------------------------------------------------------------------------
h1.page-title On-Site Cost Calculator
// ------------------------------------------------------------------------------------------------------------
include /partials/footer
include /partials/foot