<% include /partials/head %>
<% include /partials/header %>
<!---------------------------------------------------------------------------------------------------------------->
<h1 class="page-title">PC Prep <small>Rule #1 - Fix your computer... whatever it takes!</small></h1>

<section class="pc-prep">
	
</section>

<!---------------------------------------------------------------------------------------------------------------->
<% include /partials/footer %>
<% include /partials/foot %>