<% include /partials/head %>
<% include /partials/header %>
<!---------------------------------------------------------------------------------------------------------------->

<section>
	<div class="col-md-4">
		<!-- PC INVICIBILITY -->
		<a href="/sign-up" class="price-table">
			<h4 class="big-text"><span class="slabtext">PC Invincibility</span></h4>
			<h5>
			  <div class="price big-text">
			    <span class="slabtext">$19</span>
			  </div>
			  <div class="price-terms">
			    <div class="slash big-text">
			      <span class="slabtext">/</span>
			    </div>
			    <div class="terms big-text">
			      <span class="slabtext">month</span>
			      <span class="slabtext">computer</span>
			    </div>
			  </div>
			</h5>
			
			<p class="tag-line">Impossible to get viruses!</p>
			
			<del>$49 one-time setup cost</del>

			<ul>
		    <li>Unlimited Remote Support</li>
		    <li>Free Hardware Installation</li>
				<li>Renew-on-restart</li>
				<li>No need for antivirus!</li>
			</ul>
		</a>
	</div>
	<div class="col-md-4">
		<!-- PC GUARDIAN -->
		<a href="/sign-up" class="price-table callout">
			<h4 class="big-text"><span class="slabtext">PC Guardian</span></h4>
			<h5>
			  <div class="price big-text">
			    <span class="slabtext">$29</span>
			  </div>
			  <div class="price-terms">
			    <div class="slash big-text">
			      <span class="slabtext">/</span>
			    </div>
			    <div class="terms big-text">
			      <span class="slabtext">month</span>
			      <span class="slabtext">computer</span>
			    </div>
			  </div>
			</h5>

			<p class="tag-line">It's like having your own professional I.T. Department!</p>
			
			<del>$49 one-time setup cost</del>

			<ul>
		    <li>Unlimited Remote Support</li>
		    <li>Free Hardware Installation</li>
		    <li>Automated Maintenance</li>
		    <li>Enterprise-level antivirus</li>
			</ul>
		</a>
	</div>
	<div class="col-md-4">
		<!-- FAMILY GUARDIAN -->
		<a href="/sign-up" class="price-table">
			<h4 class="big-text"><span class="slabtext">Family Guardian</span></h4>
			<h5>
			  <div class="price big-text">
			    <span class="slabtext">$99</span>
			  </div>
			  <div class="price-terms">
			    <div class="slash big-text">
			      <span class="slabtext">/</span>
			    </div>
			    <div class="terms big-text">
			      <span class="slabtext">month</span>
			      <span class="slabtext">4 computers</span>
			    </div>
			  </div>
			</h5>

			<p class="tag-line">Protect your family & filter the web!</p>
			
			<del>$49 one-time setup cost</del>

			<ul>
		    <li>Unlimited Remote Support</li>
		    <li>Free Hardware Installation</li>
		    <li>Automated Maintenance</li>
		    <li>Enterprise-level antivirus</li>
		    <li>Web content filtering</li>
			</ul>
		</a>
	</div>
</section>

<!---------------------------------------------------------------------------------------------------------------->
<% include /partials/footer %>
<% include /partials/foot %>