| <% include /partials/head %>
| <% include /partials/header %>
// ------------------------------------------------------------------------------------------------------------
h1.page-title
  a(href='/services') Services
  span.fa.fa-chevron-right
  | Seniors
  small Click on a service package to get started!
| <%= include /partials/please-read %>
section
  .col-md-4
    // PC INVICIBILITY
    a.price-table(href='/sign-up')
      h4.big-text
        span.slabtext PC Invincibility
      h5
        .price.big-text
          span.slabtext $19
        .price-terms
          .slash.big-text
            span.slabtext /
          .terms.big-text
            span.slabtext month
            span.slabtext computer
      p.tag-line Impossible to get viruses!
      del $49 one-time setup cost
      ul
        li Unlimited Remote Support
        li Free Hardware Installation
        li Renew-on-restart
        li No need for antivirus!
  .col-md-4
    // PC INVICIBILITY
    a.price-table.callout(href='/sign-up')
      h4.big-text
        span.slabtext PC Invincibility
      h6.datasaver
        span.fa.fa-cloud-upload
        | DATASAVER
        small 10GB AUTOMATIC Online Backup
      h5
        .price.big-text
          span.slabtext $29
        .price-terms
          .slash.big-text
            span.slabtext /
          .terms.big-text
            span.slabtext month
            span.slabtext computer
      p.tag-line Prevent viruses & backup your memories!
      del $49 one-time setup cost
      ul
        li Unlimited Remote Support
        li Free Hardware Installation
        li Renew-on-restart
        li No need for antivirus!
  .col-md-4
    // PC GUARDIAN
    a.price-table(href='/sign-up')
      h4.big-text
        span.slabtext PC Guardian
      h6.datasaver
        span.fa.fa-cloud-upload
        | DATASAVER
        small 10GB AUTOMATIC Online Backup
      h5
        .price.big-text
          span.slabtext $39
        .price-terms
          .slash.big-text
            span.slabtext /
          .terms.big-text
            span.slabtext month
            span.slabtext computer
      p.tag-line It's like having your own computer wiz kid!
      del $49 one-time setup cost
      ul
        li Unlimited Remote Support
        li Free Hardware Installation
        li Automated Maintenance
        li Enterprise-level antivirus
// ------------------------------------------------------------------------------------------------------------
| <% include /partials/footer %>
| <% include /partials/foot %>