extends _layout

//- Define Templates --------------------------
block templates
	//- Layout
	script#layout-signup(type="text/template")
		include _signup/layout-signup
	//- Computer
	script#item-computer(type="text/template")
		include _signup/item-computer