<% include /partials/head %>
<% include /partials/header %>
<!---------------------------------------------------------------------------------------------------------------->

<section class="sign-up">
	<div class="col-sm-4">
		<!-- GENERAL SELECTOR -->
		<div class="plan-selector">
			<!-- Choose number of computers -->
			<div class="num-computers">
		    <div class="input-group">
  	      <span class="input-group-btn">
  	        <button class="btn btn-default minus" type="button"><span class="glyphicon glyphicon-minus"></span></button>
  	      </span>
  	      <input id="num-computers" type="text" class="form-control" maxlength="2">    	      
  	      <span class="input-group-btn">
            <button class="btn btn-default plus" type="button"><span class="glyphicon glyphicon-plus"></span></button>
          </span>
  	    </div><!-- /input-group -->
  	    <label for="num-computers" class="control-label">Computers</label>
			</div>			
			<!-- Choose how much data -->
			<div class="gb-data">
		    <div class="input-group">
  	      <span class="input-group-btn">
  	        <button class="btn btn-default minus" type="button"><span class="glyphicon glyphicon-minus"></span></button>
  	      </span>
  	      <input id="num-computers" type="text" class="form-control" maxlength="2">    	      
  	      <span class="input-group-btn">
            <button class="btn btn-default plus" type="button"><span class="glyphicon glyphicon-plus"></span></button>
          </span>
  	    </div><!-- /input-group -->
  	    <label for="num-computers" class="control-label">GB Data</label>
			</div>			
			<!-- Choose 24x7 Support -->
		</div>
	</div>
	<div class="col-sm-4">
		<!-- DETAILED SELECTOR -->
		<div class="computer-list">
			
		</div>
	</div>
	<div class="col-sm-4">
		<!-- COST & BILLING -->
		<div class="cost-billing">
			
		</div>
	</div>
</section>

<!---------------------------------------------------------------------------------------------------------------->
<% include /partials/footer %>
<% include /partials/foot %>