include /partials/head
include /partials/header
// ------------------------------------------------------------------------------------------------------------
// START PARTIAL TEMPLATES
script.select-user-template(type='text/template')
  include /partials/computer-list-item-select-user
script.create-user-template(type='text/template')
  include /partials/computer-list-item-add-user
script.computer-list-item(type='text/template')
  include /partials/computer-list-item
script.estimate-line-fgwp(type='text/template')
  include /partials/estimate-lines/fgwp
script.estimate-line-fg(type='text/template')
  include /partials/estimate-lines/fg
script.estimate-line-pg(type='text/template')
  include /partials/estimate-lines/pg
script.estimate-line-pi(type='text/template')
  include /partials/estimate-lines/pi
script.estimate-line-wp(type='text/template')
  include /partials/estimate-lines/wp
script.estimate-line-ds(type='text/template')
  include /partials/estimate-lines/ds
// END PARTIAL TEMPLATES
h1.page-title
  | Sign Up
  small Choose the configuration that works best for you and your family!
section.sign-up
  .col-sm-8
    h2
      span.circle 1
      small Personalize Your Computers
    .plan-selector
      .row
        // Choose number of computers
        .num-computers.col-xs-6
          .input-group
            span.input-group-btn
              button#remove-computer.btn.btn-default.minus(type='button')
                span.glyphicon.glyphicon-minus
            input#num-computers.form-control(type='text', maxlength='2', readonly='', value='1')
            span.input-group-btn
              button#add-computer.btn.btn-default.plus(type='button')
                span.glyphicon.glyphicon-plus
          // /input-group
          label.control-label(for='num-computers') Computers
        .tfs-support.checkbox.col-xs-6
          label
            input(type='checkbox', value='tfs-support', disabled='')
            | 24x7 SUPPORT
            small COMING SOON!
    // COMPUTER LIST
    ul.computer-list
      include /partials/computer-list-item
  .col-sm-4
    h2
      span.circle 2
      small Review & Checkout
    .review-checkout
      // Estimate
      table.estimate
        tbody.estimate-lines
          tr.pc-guardian
            td.title PC Guardian
            td
              span.quantity 1
        tfoot.estimate-totals
          tr
            td Monthly Cost
            td
              span.final-price
                | $29
                small /mo
          tr.setup-cost
            td
              del One-Time Setup Cost
            td
              del $49
          tr.due-today-tr
            td Due Today
            td
              span.due-today $29
      // BILLING INFORMATION FORM
      form.billing-info(novalidate='')
        fieldset.primary-account-contact
          h3 Primary Contact
          // Account Contact
          .user.form-group
            .col-xs-12
              include /partials/computer-list-item-select-user
        // Billing Address
        fieldset.billing-address
          h3 Billing Address
          .form-group
            .col-xs-12
              label.sr-only Address 1
              input.form-control(placeholder='Address 1', name='address-1', type='text', required='')
          .form-group
            .col-xs-12
              label.sr-only Address 2
              input.form-control(placeholder='Address 2', name='address-2', type='text')
          .form-group
            .col-xs-12
              label.sr-only City
              input.form-control(placeholder='City', name='city', type='text', required='')
          .form-group
            .col-xs-6
              label.sr-only State
              select.form-control(name='state')
                option(value='', disabled='', selected='') State
                option(value='AL') Alabama
                option(value='AK') Alaska
                option(value='AZ') Arizona
                option(value='AR') Arkansas
                option(value='CA') California
                option(value='CO') Colorado
                option(value='CT') Connecticut
                option(value='DE') Delaware
                option(value='DC') District Of Columbia
                option(value='FL') Florida
                option(value='GA') Georgia
                option(value='HI') Hawaii
                option(value='ID') Idaho
                option(value='IL') Illinois
                option(value='IN') Indiana
                option(value='IA') Iowa
                option(value='KS') Kansas
                option(value='KY') Kentucky
                option(value='LA') Louisiana
                option(value='ME') Maine
                option(value='MD') Maryland
                option(value='MA') Massachusetts
                option(value='MI') Michigan
                option(value='MN') Minnesota
                option(value='MS') Mississippi
                option(value='MO') Missouri
                option(value='MT') Montana
                option(value='NE') Nebraska
                option(value='NV') Nevada
                option(value='NH') New Hampshire
                option(value='NJ') New Jersey
                option(value='NM') New Mexico
                option(value='NY') New York
                option(value='NC') North Carolina
                option(value='ND') North Dakota
                option(value='OH') Ohio
                option(value='OK') Oklahoma
                option(value='OR') Oregon
                option(value='PA') Pennsylvania
                option(value='RI') Rhode Island
                option(value='SC') South Carolina
                option(value='SD') South Dakota
                option(value='TN') Tennessee
                option(value='TX') Texas
                option(value='UT') Utah
                option(value='VT') Vermont
                option(value='VA') Virginia
                option(value='WA') Washington
                option(value='WV') West Virginia
                option(value='WI') Wisconsin
                option(value='WY') Wyoming
            .col-xs-6
              label.sr-only Zip Code
              input.form-control.zip-code(placeholder='Zip Code', name='zip', type='text', pattern='\d*', required='')
        // Credit Card Info
        fieldset.credit-card-info
          h3 Credit Card
          .form-group
            .col-xs-12
              label.sr-only Card Number
              .inner-addon.left-addon
                input.form-control.cc-number(type='text', pattern='\d*', autocomplete='cc-number', placeholder='Card Number', required='')
                i.fa.fa-credit-card
          .form-group
            .col-xs-6
              label.sr-only Expiration
              input.form-control.cc-exp(type='text', pattern='\d*', autocomplete='cc-exp', placeholder='Expiration', required='')
            .col-xs-6
              label.sr-only CVC
              input.form-control.cc-cvc(type='text', pattern='\d*', autocomplete='off', placeholder='CVC', required='')
        // Checkout Button
        button.submit-btn.btn.btn-primary.btn-lg.btn-block(type='button')
          | Checkout
          span.fa.fa-chevron-right
// ------------------------------------------------------------------------------------------------------------
include /partials/footer
include /partials/foot