extends _layout

//- Define Templates --------------------------
block templates
	//- Layout
	script#layout-signup(type="text/template")
		include _signup/layout-signup
	//- Computer
	script#item-computer(type="text/template")
		include _signup/item-computer
	//- User select table composite view
	script#composite-user-select-row(type="text/template")
		include _signup/composite-user-select-table
	//- User dropdown item
	script#item-user-dropdown-item(type="text/template")
		include _signup/item-user-dropdown-item
	//- Create user form
	script#item-create-user(type="text/template")
		include _signup/item-create-user