<% include /partials/head %>
<% include /partials/header %>
<!---------------------------------------------------------------------------------------------------------------->

<section class="sign-up">
	<div class="col-sm-4">
		<!-- PLAN SELECTOR -->
		<div class="plan-selector">
			<!-- Choose number of computers -->
			<div class="num-computers">
		    <div class="input-group">
  	      <span class="input-group-btn">
  	        <button class="btn btn-default minus" type="button"><span class="glyphicon glyphicon-minus"></span></button>
  	      </span>
  	      <input id="num-computers" type="text" class="form-control" maxlength="2">    	      
  	      <span class="input-group-btn">
            <button class="btn btn-default plus" type="button"><span class="glyphicon glyphicon-plus"></span></button>
          </span>
  	    </div><!-- /input-group -->
  	    <label for="num-computers" class="control-label">Computers</label>
			</div>
			<!-- Choose how much data -->
			<div class="gb-data">
		    <div class="input-group">
  	      <span class="input-group-btn">
  	        <button class="btn btn-default minus" type="button"><span class="glyphicon glyphicon-minus"></span></button>
  	      </span>
  	      <input id="gb-data" type="text" class="form-control" maxlength="3">    	      
  	      <span class="input-group-btn">
            <button class="btn btn-default plus" type="button"><span class="glyphicon glyphicon-plus"></span></button>
          </span>
  	    </div><!-- /input-group -->
  	    <label for="gb-data" class="control-label">GB of Data</label>
			</div>			
			<div class="tfs-support checkbox">
			  <label>
			    <input type="checkbox" value="tfs-support" disabled>
			    24x7 SUPPORT <small>COMING SOON!</small>
			  </label>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<!-- COMPUTER LIST -->
		<ul class="computer-list">
			<%= include /partials/computer-list-item %>
			<%= include /partials/computer-list-item %>
			<%= include /partials/computer-list-item %>
		</ul>
	</div>
</section>

<!---------------------------------------------------------------------------------------------------------------->
<% include /partials/footer %>
<% include /partials/foot %>