extends _layout

//- Define Templates --------------------------
block templates
	//- Signup Layout
	script#layout-signup(type="text/template")
		include _signup/layout-signup
	//- Computer Composite View
	script#composite-computer(type="text/template")
		include _signup/composite-computer
	//- Computer User Composite View: SELECT
	script#composite-computer-user_select(type="text/template")
		include _signup/composite-computer-user_select
	//- Computer User Composite View: CREATE
	script#composite-computer-user_create(type="text/template")
		include _signup/composite-computer-user_create
	//- User Select Composite View
	script#composite-user-select(type="text/template")
		include _signup/composite-user-select
	//- User Select Item Item View
	script#item-user-select-item(type="text/template")
		include _signup/item-user-select-item