<% include /partials/head %>
<% include /partials/header %>
<!---------------------------------------------------------------------------------------------------------------->

<!-- START UNDERSCORE TEMPLATES -->
<script type="text/template" class="select-user-template"><%= include /partials/computer-list-item-select-user %></script>
<script type="text/template" class="create-user-template"><%= include /partials/computer-list-item-add-user %></script>
<script type="text/template" class="computer-list-item"><%= include /partials/computer-list-item %></script>
<!-- END UNDERSCORE TEMPLATES -->

<h1 class="page-title">Sign Up <small>Choose the configuration that works best for you and your family!</small></h1>

<section class="sign-up">
	<div class="col-sm-8">
		<h2><span class="circle">1</span> <small>Personalize Your Computers</small></h2>
		<div class="row">
			<div class="col-xs-12">
				<div class="plan-selector">
					<div class="row">
						<!-- Choose number of computers -->
						<div class="num-computers col-xs-6">
					    <div class="input-group">
			  	      <span class="input-group-btn">
			  	        <button id="remove-computer" class="btn btn-default minus" type="button"><span class="glyphicon glyphicon-minus"></span></button>
			  	      </span>
			  	      <input id="num-computers" type="text" class="form-control" maxlength="2" readonly value="1">    	      
			  	      <span class="input-group-btn">
			            <button id="add-computer" class="btn btn-default plus" type="button"><span class="glyphicon glyphicon-plus"></span></button>
			          </span>
			  	    </div><!-- /input-group -->
			  	    <label for="num-computers" class="control-label">Computers</label>
						</div>
						<div class="tfs-support checkbox col-xs-6">
						  <label>
						    <input type="checkbox" value="tfs-support" disabled>
						    24x7 SUPPORT <small>COMING SOON!</small>
						  </label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- COMPUTER LIST -->
		<ul class="computer-list">
			<%= include /partials/computer-list-item %>
		</ul>
	</div>
	<div class="col-sm-4">
		<h2><span class="circle">2</span> <small>Review & Checkout</small></h2>
	</div>
</section>

<!---------------------------------------------------------------------------------------------------------------->
<% include /partials/footer %>
<% include /partials/foot %>