@header-height: 220px;

header, main, footer {
	section {
		.make-row();
	}
}
header {
	position: fixed;
	width: 100%;
	z-index: 0;
	top: 0;
	background-image: url(/images/city.jpg);
	background-size: cover;
	background-position-y: bottom;
	background-position-x: center;

	.container {
		height: @header-height;
	}
}
main {
	margin-top: @header-height;
	background-color: white;
	position: relative;
	z-index: 1;

	.container {
		background-color: white;
	}

	.affix-top {
		position: absolute;
		top: -129px;
	}
	.affix {
		position: fixed;
		top: 0;
		z-index: -1;
	}

	footer {
		
	}
}

// General settings
img {
	.img-responsive;
}