body {
	background-color: @city-blue;
}

header, main, footer {
	section {
		.make-row();
	}
}
header {
	position: fixed;
	width: 100%;
	z-index: -1;
	top: 0;	
	background-image: url(/images/city.jpg);
	background-size: cover;
	background-position-y: bottom;
	background-position-x: center;

	.container {
		height: 100px;
	}
}
main {
	margin-top: 100px;
	background: white url(/images/bg.png) repeat;
	z-index: 1;
	position: relative;

	img#computerman {
		margin-top: -129px;
		padding-top: 65px;
	}
	div#computerman-div {
		height: 0;

		&.affix {
			top: 0;
			z-index: -1;
			width: 100%;
			img#computerman {
				margin-top: 0;
			}
		}
	}	
	
	#content {
		.container;
		background: white url(/images/bg.png) repeat;
		padding-top: 70px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	header .container {
		height: 220px;
	}

	main {
		margin-top: 220px;

		img#computerman {
			padding-top: 0;
		}
	}
}