#page-sign-up {

	h2 {
		.clearfix;
		text-transform: uppercase;

		.circle {
			width: 2em;
			height: 2em;
			border-radius: 50%;
			font-size: 1em;
			color: white;
			line-height: 2em;
			text-align: center;
			background: @blue;
			display: block;
			float: left;
		}		

		small {
			line-height: 3em;
			margin-left: 0.5em;
			float: left;
		}
	}

	ul#computer-list {
		list-style: none;
		padding: 0;
		margin: 0;		

		li.computer {
			background: white;
			.make-row();
			margin-bottom: 15px;
			padding: 15px 0;
			.box-shadow(0 0 5px @lightest-grey);
			border-radius: 5px;
		}
	}
}