#page-sign-up {

	h2 {
		.clearfix;
		text-transform: uppercase;

		.circle {
			width: 2em;
			height: 2em;
			border-radius: 50%;
			font-size: 1em;
			color: white;
			line-height: 2em;
			text-align: center;
			background: @blue;
			display: block;
			float: left;
		}		

		small {
			line-height: 3em;
			margin-left: 0.5em;
			float: left;
		}
	}
	
	div.plan-selector {
		padding: 1em;
		background: white;
		border: @lightest-grey solid 2px;
		padding-bottom: 0;
		margin-bottom: 20px;
		.font-comic;

		.tfs-support.checkbox {
			.font-impact;
			font-size: 18px;
			color: @lightest-grey;
			text-align: right;

			label {
				cursor: no-drop;
			}
		}
	
		.num-computers,
		.gb-data {
			.clearfix;
			margin-bottom: 1em;

			input {
				&[readonly] {
					width: 2.7em;
					margin: 0;
					padding: 0.25em 0.5em;
					font-size: 1.5em;
					height: 2em;
					text-align: center;
					border: 1px solid black;
					box-shadow: grey 0 0 10px;
					background: white;
					cursor: default;
				}				
			}
			button {
				border: 1px solid black;
				border-radius: 0;
				padding: 0 0.3em;
				height: 100%;
				background-color: @medium-grey;
				color: white;
				.transition(background-color 0.2s ease-out);

				&:hover {
					background-color: black;
				}
				
				&.minus {
					border-right: none;
				}
				&.plus {
					border-left: none;
				}
			}
			.input-group {
				width: 1px;
				float: left;
			}
			label {
				margin-top: 0.3em;
				font-size: 1.5em;
				margin-left: 0.5em;
			}
		}
	}

	ul.computer-list {
			padding: 0;
		li {
			list-style: none;
			font-size: 0.6em;
			padding: 2em;
			border: @dark-grey 5px solid;
			margin: 0;
			background: white;
			.clearfix;
			margin-bottom: 30px;
			box-shadow: grey 0 10px 10px;
			position: relative;

			button.close {
				position: absolute;
				top: 10px;
				right: 10px;
			}
			
			ul.user-list {
				padding: 0;
				margin-bottom: 10px;

				li.user {
					box-shadow: none;
					border: 1px solid @lightest-grey;
					margin-bottom: -1px;
					font-size: 14px;
					padding: 10px;
					text-transform: none;
					font-family: @font-family-sans-serif;
					
					table.user-select-table {
						td:first-of-type {
							width: 100%;
						}
					}					

					.form-group {
						input, i {							
							font-size: 18px;
						}
						input {
							.font-handwritten;
						}
					}

					table.button-area-table {
						margin-top: 10px;
						td:first-of-type {
							width: 100%;
						}
						.alert {
							margin-bottom: 0;
							padding: 6px 1em;
							.font-impact;
							text-transform: uppercase;
							border-radius: 0;
							display: none;

							span {
								margin-right: 1em;
							}
						}
						.button-area {
							text-align: right;
							width: 180px;
							button {
								font-size: 1em;
							}
						}
					}					
					
					.btn-group {
						padding-left: 6px;
						width: 64px;

						button.btn {
							padding: 6px;
							background: transparent;
							font-size: 14px;

							&.edit-btn {
								color: darken(@yellow, 20%);
								display: none;

								&:hover {
									color: @yellow;
								}
							}
							&.cancel-btn {
								color: @red;
								float: right;
								
								&:hover {
									color: lighten(@red, 20%);
								}
							}
						}
					}					
				}
			}
			button.add-user {
				background-color: @yellow;
				color: @red;
				border: none;
				.transition(all 0.2s ease-out);

				&:hover {
					background-color: @red;
					color: @yellow;
				}
			}

			.computer-type {
				float: left;
				width: 30%;
				padding-right: 2em;

				select {
					text-transform: uppercase;
					font-family: @font-family-sans-serif;
				}
			}

			fieldset {
				width: 70%;
				border-left: 1px solid @lightest-grey;
				padding-left: 2em;
				float: left;

				h3 {
					margin-top: 0;
					margin-bottom: 1em;
				}

				.form-group {
					.make-row();
					&:last-of-type {
						margin-bottom: 0;
					}
				}

				.left {
					font-size: 14px;
					float: left;
					width: 40%;
					.font-comic;
					text-align: center;

					.input-group {
						float: none !important;
						margin-left: auto;
						margin-right: auto;
					}

					input {
						&[readonly] {
							font-size: 14px;
							width: 60px;
							margin: 0;
							padding: 0.25em 0.5em;
							font-size: 1.5em;
							height: 2em;
							text-align: center;
							border: 1px solid black;
							box-shadow: grey 0 0 10px;
							cursor: default;
							background: white;
						}
					}
					button {
						border: 1px solid black;
						border-radius: 0;
						padding: 0 5px;
						height: 100%;
						background-color: @medium-grey;
						color: white;
						.transition(background-color 0.2s ease-out);
						
						span {
							font-size: 14px;
						}

						&:hover {
							background-color: black;
						}
						&.minus {
							border-right: none;
						}
						&.plus {
							border-left: none;
						}
					}
					.input-group {
						width: 1px;
						float: left;
					}
					label {
						margin-top: 0.3em;
						font-size: 1.5em;
					}
				}
				.right {
					float: left;
					width: 60%;
					
					label {
						.transition(color 0.2s ease-out);

						&:hover {
							color: @blue;
						}
					}

					.invincibility.checkbox label {
						font-size: 24px;

						input {
							margin-top: 10px;
						}
					}
				}

				.checkbox {
					.font-impact;
					font-weight: bold;
					margin-top: 0;

					&:last-of-type {
						margin-bottom: 0;
					}

					label {
						text-transform: uppercase;
						font-size: 14px;
						letter-spacing: 0.05em;

						input {
							height: auto;
						}
					}
				}
			}

			&:last-of-type {
				margin-bottom: 0;
			}		
		}
	}

	.review-checkout {
		table.estimate {
			width: 100%;
			text-transform: uppercase;
			background: white;
			border: 2px solid lighten(@green, 10%);
			margin-bottom: 1em;

			tr {
				td {
					&:first-of-type {
						width: 100%;
					}
					&:last-of-type {
						span {
							width: 1px;
						}
					}
				}
			}

			tbody.estimate-lines {
				display: table;

				tr {
					td {						
						padding: 0.5em 1em 0 1em;						
					}
					&:first-of-type {
						td {
							padding-top: 1em;
						}						
					}
				}
			}
			tfoot.estimate-totals {
				display: table;
				margin-top: 1em;

				tr {
					&:first-of-type {			
						font-size: 1.5em;
						line-height: 1;
						background: lighten(@green, 10%);
						color: white;
						.font-price;

						small {
							font-size: 0.7em;
							margin-left: 0.5em;
						}
					}
					td {
						padding: 1em;
					}
					&.setup-cost {
						td {
							padding-top: 1em;
							padding-bottom: 0;
							color: @lightest-grey;

							&:last-of-type {
								text-align: right;
							}
						}
					}
					&.due-today-tr {
						td {							
							padding: 0 0.7em 0.5em 0.7em;
							.font-price;
							font-size: 1.5em;
							color: @red;

							&:last-of-type {
								text-align: right;								
							}
						}
					}
				}
			}
		}

		table.user-select-table {
			width: 100%;
			.btn-group {
				display: none;
			}
		}
	}

}