// IMPORTS --------------------------------------
@import url(//fonts.googleapis.com/css?family=Swanky+and+Moo+Moo);
@import url(//fonts.googleapis.com/css?family=Bangers);
@import url(//fonts.googleapis.com/css?family=Oswald:700);
@import url(//fonts.googleapis.com/css?family=Voltaire);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@import "/vendor/bootstrap/less/bootstrap";
@icon-font-path: "/vendor/bootstrap/fonts/";
@font-family-sans-serif: 'Open Sans', sans-serif;

@import (less) "/vendor/slabText/css/slabtext.css";

// SET FONT
.font-handwritten { font-family: 'Swanky and Moo Moo', cursive };
.font-comic { font-family: 'Bangers', cursive };
.font-impact { font-family: 'Oswald', sans-serif; };
.font-price { font-family: 'Voltaire', sans-serif; };

// COLORS!!
@dark-grey: #222;
@medium-grey: #39434F;
@light-grey: #3F4B58;
@lightest-grey: #ccc;
@yellow: #FFCC00;
@red: #990000;
@blue: #3C72CE;
@light-purple: #88c;


body {	
	z-index: 0;
	position: relative;
}
header, footer {
	.container-fluid;
}
main {
	.container;
}
section {
	.make-row();
}
h1 {
	.font-comic;
}
h2 {
	.font-impact;
}
h3 {
	.font-price;
}
h4 {
	.font-handwritten;
}

// HEADER -----------------------------------
header {
	background-image: url(/images/city.jpg);
	background-size: cover;
	height: 250px;

	section:first-of-type {
		height: 205px;
	}

	.quick-contact-header {
		position: absolute;
		top: 0px;
		width: 100%;
		padding-right: @grid-gutter-width / 2;
		left: 0px;
	}

	h1 {
		margin: 0;

		a {
			display: block;
			position: relative;

			span { display: none; }
			img {
				.img-responsive;
				position: absolute;
			}
		}
	}
	h2 {
		font-family: @font-family-sans-serif;
		font-size: @font-size-base;
		color: white;
		text-align: center;
	}
}

// NAVGATION ------------------------
.navbar {
	position: fixed;
	top: 0;

	&.skrollable-after {
		top: 0;
		position: fixed;
	}
}
@media (min-width: @screen-sm-min) {
	.navbar {
		top: 250px;
		position: absolute;		
	}
}
.navbar-default .navbar-toggle {
	border-color: @red;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: @red;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: @red;

	.icon-bar {
		background-color: @yellow;
	}
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: @red;
}
.navbar {	
	width: 100%;
	z-index: 10;	
	border: none;
	border-radius: 0;
	background-color: @yellow;
	font-size: 1.2em;
	line-height: 1.2;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 600;	

	.small-phone-num {
		color: #fff;
		text-decoration: none;
		text-align: center;
		font-size: 1.3em;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.navbar-brand {
		padding-top: 10px;
	}

	ul.nav.navbar-nav {
		p.navbar-text {
			color: @red;
			font-size: 1.8em;
			line-height: 0.7;
			font-weight: normal;
		}
		li {
			& a {
				color: @red;
				.transition(color 0.2s ease-out);
				.transition(background-color 0.2s ease-out);

				&:hover {
					color: @yellow;
					background-color: @red;
				}
			}
			&.active a {
				color: @yellow;
				background-color: @red;
			}
		}
	}
}

// QUICK SUPPORT CONTACT BOX ----------------------
.quick-support-contact-box {
	margin-top: 7px;

	h1 {
		padding: 14px;
		background: @medium-grey;
		color: @yellow;
		text-transform: uppercase;
		font-size: 1.8em;
		font-weight: normal;
		margin-bottom: 0;
		margin-top: 0;	
		letter-spacing: 0.1em;	
	}
	ul {
		list-style: none;
		font-size: 1.2em;
		background: @light-grey;
		padding: 10px 20px;

		li {
			margin-bottom: 10px;

			a {
				.glyphicon {
					margin-right: 0.8em;
					top: 0.3em;
				}
				span.email,
				span.phone-number,
				span.hours {

					small {
						font-size: 60%;
						display: block;
						margin-left: 3em;
						line-height: 0.5;
					}
				}			

				color: @lightest-grey;
				.transition(color 0.2s ease-out);
				font-weight: 200;
				font-style: italic;
			}
			a:hover {
				text-decoration: none;
				color: white;
			}
		}
	}
}

// FORMS ---------------------------
form.contact, form.quick-contact {
	.font-handwritten;

	/* enable absolute positioning */
	.inner-addon { 
	    position: relative; 
	}

	/* style icon */
	.inner-addon .glyphicon {
	  position: absolute;
	  padding: 0.5em;
	  pointer-events: none;
	  font-size: 2em;
	}

	/* align icon */
	.left-addon .glyphicon  { left:  0px;}
	.right-addon .glyphicon { right: 0px;}

	/* add padding  */
	.left-addon input  { padding-left:  2em; }
	.right-addon input { padding-right: 2em; }

	input, textarea {
		text-transform: uppercase;
		font-size: 2em;
		height: 2em;
		border: 3px solid @light-grey;
		border-radius: 0;
		.box-shadow(none);
		letter-spacing: 0.1em;
		color: black;
	}
	textarea {
		height: inherit;
	}
	button {
		.transition(all 0.2s ease-out);
		.font-comic;
		border-radius: 0;
		font-size: 2em;
		text-transform: uppercase;
		letter-spacing: 0.1em;		

		&[type="submit"] {
			background-color: @yellow;
			color: @red;
			border-color: @red;
			font-size: 3em;

			&:hover {
				background-color: @red;
				border-color: @yellow;
				color: @yellow;
			}
		}
	}
}
form.quick-contact {
	font-size: 70%;
}

// MODAL ---------------------------
.modal-content {
	border: 5px solid @dark-grey;
	border-radius: 0;

	.modal-header {
		padding-bottom: 0;
		border: none;
	}
	.modal-footer {
		padding-top: 0;
		border: 0;

		p {
			float: left;
			font-size: 2em;
			width: 50%;
			text-align: left;
		}
	}
}

// MAIN -------------------------
main {
	padding-top: 70px;
	padding-bottom: 180px;

	&:before {
		background: url(/images/atlanta_silhouette.png) center top no-repeat;
		content: ' ';
		width: 100%;
		height: 173px;
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		opacity: 0.5;
	}
}
#main {
	width: 100%;
	background-image: url(/images/bg.png);
	position: relative;
	z-index: 1;
	.box-shadow(0 15px 0px rgba(200,200,200,0.60));
}

// SPINNER --------------------------
.spinner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 9999999999;
	cursor: wait;
	background-image: url(/images/spinner.gif);
	background-position: center center;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0.5);
}

// PRODUCT BOX ---------------------
.product-box {
	text-transform: uppercase;
	margin: 5em 0 0 0;
	border: 10px solid @dark-grey;
	padding: 20px;
	background: white;
	.clearfix;
	position: relative;

	p {
		float: left;
		font-size: 1.5em;
		width: 50%;
		text-align: left;
	}

	.title {
		.font-comic;
		font-size: 5em;
		line-height: 1;
		border-bottom: 5px solid @dark-grey;
		margin-bottom: 0.3em;
		width: 70%;
	}
	.button-area {
		float: right;
		width: 60%;
		margin-top: 1em;
		margin-right: 20px;

		.learn-more {
			display: inline-block;
			border: none;
			padding: 0;
			
			&:hover {
				text-decoration: none;				
			}

			.slabtext {
				background: @yellow;
				padding: 5%;
				.font-comic;
				letter-spacing: 0.1em !important;
				color: @red;
				.transition(color 0.2s ease-out);
				.transition(background-color 0.2s ease-out);

				&:hover {
					color: @yellow;
					background: @red;
				}
			}			
		}
		button {
			background: @yellow;
			.font-comic;
			letter-spacing: 0.1em !important;
			color: @red;
			.transition(color 0.2s ease-out);
			.transition(background-color 0.2s ease-out);
			padding: 0.4em !important;
			float: right  !important;
			margin-right: -20px !important;

			&:hover {
				color: @yellow;
				background: @red;
			}
		}		
	}
	.left {
		float: left;
		width: 45%;
		margin: 0;
		
		.features {
			.font-impact;
			color: @light-purple;

			.slabtext {
				line-height: 1;
			}
		}
	}
	.right {
		float: left;
		width: 55%;
		margin: 0;
		.clearfix;

		.price {
			float: left;
			width: 80%;
			margin: 0;
			.font-price;
			color: @blue;
		}
		.terms-box {
			float: left;
			width: 20%;
			margin: 35% 0 0 0;
			color: @light-purple;

			.slash-area {
				float: left;
				width: 20%;
				margin: 0 5% 0 -5%;
			}
			.terms-area {
				float: left;
				width: 80%;
				margin: 0.5em 0 0 0;

				.terms:last-of-type {
					border-top: 0.3em solid;
					padding-top: 0.3em;
					margin-top: 0.3em;
				}
			}
		}
	}
	.pow {
		position: absolute;
		width: 40%;
		top: -5em;
		right: -10%;

		img {
			height: 100%;
			width: 100%;
		}
		.deal {
			position: absolute;	
			width: 53%;
			top: 30%;
			left: 22%;
			height: 40%;
			.rotate(-15deg);
			-webkit-transform: rotate(-15deg);
			text-align: center;
			color: @red;
			font-weight: bold;

			hr {
				margin: 5%;
				border-color: @red;
			}
		}
	}
}

// OWNER NAME ------------------
.owner-name {
	padding: 20px;
	text-align: center;
	.font-handwritten;
	font-size: 3em;
	font-weight: bold;
	background: white;
	border: 5px solid @dark-grey;
	text-transform: uppercase;
	margin-top: 0;
	line-height: 0.8;
	margin-left: 10%;
	width: 90%;
	max-width: 320px;
	margin-bottom: 1em;

	small {
		display: block;
		font-size: 70%; 
		font-style: italic;
	}
}

// THE FUCKING CONTACT US BUTTON I COULD GET WORKING RIGHT!!!!!!
#main > main > section:nth-child(3) > div.col-sm-7 > div > div.content > form > div {
	width: inherit;
}

// SPEECH BUBBLE ------------------------
.bubble {
	position: relative;
	width: 100%;
	height: auto;
	padding: 20px;
	background: #FFFFFF;
	border: @dark-grey solid 5px;

	p {
		.font-handwritten;
		font-size: 1.5em;
		text-transform: uppercase;
		margin: 0;
		line-height: 1;
		small {
			border-top: solid 3px;
			margin-top: 1em;
			padding-top: 1em;
			font-weight: normal;
			font-family: sans-serif;
			text-transform: none;
			font-size: 14px;
			display: block;
			line-height: 1.3;
			font-style: italic;
		}
	}


	.facebook-holder {
		float: right;
		.facebook-link {
			float: left;
			margin-right: 1em;
		}
		.facebook-likes {

		}
	}

	&:before {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 10px 80px 10px 0;
		border-color: transparent #FFFFFF;
		display: block;
		width: 0;
		z-index: 1;
		left: -80px;
		top: 80px;
		.hidden-xs;
	}
	&:after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 14px 84px 14px 0;
		border-color: transparent @dark-grey;
		display: block;
		width: 0;
		z-index: 0;
		left: -89px;
		top: 76px;
		.hidden-xs;
	}
}

// SOCIAL ICON MAP ----------------------
span.social-icon {
	display: block;
	width: 87px;
	height: 88px;
	background-image: url(/images/social.png);
	.transition(opacity 0.2s ease-out);

	&:hover {
		opacity: 0.75;
	}

	&.twitter {
		background-position: -19px -9px;
	}
	&.facebook {
		background-position: -136px -9px;
	}
	&.google-plus {
		background-position: -248px -9px;
	}
	&.rss {
		background-position: -356px -9px;
	}
}

// ARROWS --------------------------
.left-arrow {
	width: 50%;
	height: 18em;
	border-right: 8em solid @dark-grey;
	border-bottom: 8em solid @dark-grey;
	margin-left: 10em;
	float: left;
	margin-top: 3em;

	&:after {
		content: ' ';
		display: block;
		position: absolute;
		background: url(/images/left-arrow.svg) left center no-repeat;
		height: 18em;
		width: 17em;
		bottom: -5em;
		left: 1em;
	}
}
.right-arrow {
	width: 50%;
	height: 18em;
	border-left: 8em solid @dark-grey;
	border-bottom: 8em solid @dark-grey;
	margin-right: 10em;
	float: right;
	margin-top: 3em;

	&:after {
		content: ' ';
		display: block;
		position: absolute;
		background: url(/images/right-arrow.svg) right center no-repeat;
		height: 18em;
		width: 17em;
		bottom: -5em;
		right: 1em;
	}
}

// FOOTER ------------------------
footer {	
	background-color: @dark-grey;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	position: relative;
	z-index: -2;
	height: 450px;

	.left {

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		.font-comic;

		li {
			margin-bottom: 1em;

			a {
				color: @yellow;
				.transition(color 0.2s ease-out);

				&:hover {
					text-decoration: none;
					color: lighten(@yellow, 40%);
				}
			}
		}
	}
	}
	.center {
	
	}
	.right {
		.social-row {
			margin-bottom: 2em;
		}
	}

	section {
    position: fixed;
    bottom: 0;
    width: 100%;
	}
}