.col-sm-8
	h2
		span.circle 1
		small Personalize Your Computers
	.plan-selector
		.row
			.num-computers.col-xs-6
				.input-group
					span.input-group-btn
						button#remove-computer.btn.btn-default.minus(type="button")
							span.fa.fa-minus
					#num-computers.form-control(type="text", maxlength="2", readonly)
					span.input-group-btn
						button#add-computer.btn.btn-default.plus(type="button")
							span.fa.fa-plus
				label.control-label(for="num-computers") Computers
			.tfs-support.checkbox.col-xs-6
				label
					input(type="checkbox", value="tfs-support", disabled)
					| 24x7 SUPPORT
					small COMING SOON!
	#computers
.col-sm-4
	#estimate