</main>
</div>
<footer>
	<section>
		<div class="col-xs-12">
			<div class="row">
				<div class="left col-lg-3 col-md-4 col-sm-5">
				  <div class="row">
				    <div class="col-xs-12">
				      <ul class="big-text">
				        <li><a href="/terms-of-service"><span class="slabtext">Terms of Service</span></a></li>
				        <li><a href="/privacy-statement"><span class="slabtext">Privacy Statement</span></a></li>
				        <li><a href="/our-story"><span class="slabtext">Learn about us</span></a></li>
				        <li><a href="/onsite-cost-calculator"><span class="slabtext">On-Site Cost Calculator</span></a></li>
				        <li><a href="/explanation-of-our-services"><span class="slabtext">Explanation of Our Services</span></a></li>
				        <li><a href="/sign-up"><span class="slabtext">Sign Up</span></a></li>	          
				      </ul>
				    </div>
				  </div>
				  <div class="row">
				    <div class="col-xs-12">
				      <!-- Angie's List, Kudzu, Yelp -->
				    </div>              
				  </div>
				</div>
				<div class="center col-lg-6 col-md-4 col-sm-2">
				           
				</div>
				<div class="right col-lg-3 col-md-4 col-sm-5">
				  <div class="row social-row">
				    <div class="col-xs-4">
				      <!-- Facebook Link -->
				      <a class="facebook-link" alt="Atlanta Computerman on Facebook" href="https://www.facebook.com/AtlantaComputerman" target="_blank"><span class="social-icon facebook"></span></a>
				    </div>
				    <div class="col-xs-4">
				      <!-- Twitter Link -->
				      <a class="twitter-link" alt="Atlanta Computerman on Twitter" href="https://twitter.com/ComputermanATL" target="_blank"><span class="social-icon twitter"></span></a>
				    </div>
				    <div class="col-xs-4">
				      <!-- Google+ Link -->
				      <a class="google-link" alt="Atlanta Computerman on Google+" href="https://www.google.com/+Atlantacomputerman7705746200" target="_blank"><span class="social-icon google-plus"></span></a>
				    </div>
				  </div>
				  <div class="row">
				    <div class="col-xs-12">
				        <a class="twitter-timeline" href="https://twitter.com/ComputermanATL" data-widget-id="526728566038204417">Tweets by @ComputermanATL</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				    </div>
				  </div> 
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="copyright">Copyright © 2014, Atlanta Computerman</div>
			</div>
		</div>
	</section>
</footer>